



a img {
	border: 0;
}

a.colorlink:link {
	color: 	blue ;
	text-decoration: none;
}

a.colorlink:visited {
	color: 	blue; 
	text-decoration: none;
}

a.colorlinkhover {
	text-decoration: none;
}






